@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle;font-size:100%}
button{border:0 none;background-color:transparent;cursor:pointer}
table{border-collapse:collapse;border-spacing:0}
body{-webkit-text-size-adjust:none}
input:checked[type='checkbox']{background-color:#666; -webkit-appearance:checkbox}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='tel'],input[type='email'],html input[type='button'],input[type='reset']{-webkit-appearance:none;border-radius:0}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}

body{background:#fff;letter-spacing:-0.025em}
body,th,td,input,select,textarea,button{font-size:14px;line-height:1.5;font-family:'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', sans-serif;color:#333}

a{color:#333;text-decoration:none}
a:active, a:hover{text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}

/* global */
.ir_pm{display:block;overflow:hidden;font-size:1px;line-height:0;color:transparent}
.ir_wa{display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%}
.ir_caption{overflow:hidden;width:1px;font-size:1px;line-height:0;text-indent:-9999px}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.show{display:block}
.hide{display:none}

/* layout */
.wrap_andre{max-width:1100px;margin:0 auto;box-sizing:border-box}
header{position:fixed;top:0;left:0;z-index:10;width:100%}
header h1{float:left;font-size:30px}
header h1 a{display:inline-block;padding:10px 10px 10px 0;vertical-align:top}
header h1 span{color:#ff661d}
header .list_menu{display:none;float:right}
header .list_menu li{float:left}
header .list_menu li + li{position:relative;padding-left:40px}
header .list_menu li + li:before{position:absolute;top:calc(50% - 1px);left:20px;width:1px;height:10px;background-color:#ccc;transform:translateY(-50%);content:''}
header .list_menu a{display:block;padding:10px;font-weight:700;font-size:16px;line-height:26px;color:#ff661d}
header .inner_head{max-width:1100px;margin:0 auto;padding:0 20px;background:rgba(255,255,255,.6);box-sizing:border-box}

.wrap_andre main{padding:65px 20px 0}

/* NotFound */
.wrap_error{display:flex;flex-direction:column;align-items:center;justify-content:center;height:100vh;background-color:#e9e9e9;text-align:center}
.wrap_error h2{font-weight:900;font-size:60px;line-height:1.3}
.wrap_error .txt_desc{font-weight:700;font-size:17px}

/* 공통 */
.wrap_btn{display:grid;grid-gap:10px;grid-template-columns:repeat(4, 1fr);margin-top:15px;font-size:0;line-height:0;word-break:keep-all}
.tit_andre{padding:10px 0;font-size:20px;line-height:1.5;}

/* 홈 */
.map_andre{position:relative;width:100%;height:400px}
.btn_comm{min-height:40px;padding:7px 20px 5px;border-radius:2px;font-weight:700;font-size:14px;line-height:20px;background-color:#ffcd00}
.btn_comm:active{background-color:#ff661d}
.btn_map_icon{display:flex;flex-direction:column;justify-content:center;align-items:center;position:absolute;bottom:10px;right:10px;z-index:10;font-size:0;line-height:0}
.btn_map_icon button{
  display:flex;justify-content:center;align-items:center;
  position:relative;width:25px;height:25px;border:1px solid #c2c2c2;border-radius:2px;color:#343434;font-size:0;background:#fff;
}
.btn_map_icon button:active{
  background-color:#f5f5f5;
}
.btn_map_icon button:before, .btn_map_icon button:after{
  width:10px;height:2px;background:#565656;
  position:absolute;
  left:50%;top:50%;
  transform:translate(-50%, -50%);
  content:'';
}
.btn_map_icon button:after{transform:translate(-50%, -50%) rotate(90deg)}
.btn_map_icon button + button{margin-top:5px}
.btn_map_icon button + button:after{content:normal;}

@media only screen and (max-width:768px){
  .map_andre{height:300px}
  .wrap_btn{grid-template-columns:1fr 1fr}
  .wrap_btn .btn_comm{margin-top:0}
}
@media only screen and (max-width:550px){
  header h1{float:none}
  header .list_menu{overflow:hidden;float:none}
  .wrap_andre main{padding-top:65px}
}
@media only screen and (max-width:420px){
  .wrap_btn{grid-template-columns:1fr}
}